body,
html {
  color: #555;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  /*background-color: rgb(53, 84, 99);*/
  background-color: #FAF5ED;
  background-image: url("img/groovepaper-97815E.png");
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

section {
  display: block;
}

.well {
  background-color: #FDFDFC;
  border: 1px solid #F3F1ED;
}

h1,
h2,
h3,
h4 {
  margin: 1em 0 0.5em;
}

h1,
h2,
h3,
h4,
a:link,
a:visited {
  color: #CC493D;
  text-decoration: none;
}

p {
  margin: 0 0 1em;
}

.title {
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;
  padding: 16px 0;
  background-color: #FFF;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 20px rgba(204, 196, 184, 0.2);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.title-push {
  margin-top: 40px;
}

.banner {
  padding: 28% 30px 0.5em;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  font-weight: 100;
  background-image: url(img/public-domain-images-free-stock-photos-high-quality-resolution-downloads-public-domain-archive-10.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.tagline {
  text-transform: uppercase;
}

.welcome {
  max-width: 42em;
  margin: 4em auto;
}

.call-to-action {
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.call-to-action-large {
  font-size: 1.25em;
}

a.cta {
  display: inline-block;
  padding: 4px 28px;
  background-color: #CC493D;
  border-radius: 4px;
  margin: 0 4px;
  color: white;
}

@media (min-width: 767px) {
  .sections {
    display: table;
  }
  section.side-by-side {
    display: table-row;
    padding: 3em 0;
  }
  section.side-by-side header,
  section.side-by-side .section-content {
    display: table-cell;
  }
  section.side-by-side header,
  section.side-by-side .section-content {
    padding: 3em 15px;
    vertical-align: middle;
  }
  section.side-by-side,
  section.side-by-side p {
    margin: 0;
  }
  section.side-by-side header {
    width: 30%;
    padding-left: 0;
  }
  section.side-by-side header h2 {
    margin: 0;
  }
  section.side-by-side .section-content {
    padding-right: 0;
  }
}

.page-footer {
  padding: 4em 0;
}
